.contact {
  max-width: 1250px;
  margin: auto;
  padding: 10px;
}
.contact .gardient-1 {
  display: block;
  background: linear-gradient(90deg, #f4c4f3, #fc67fa);
  filter: blur(900px);
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 0;
  left: -50%;
  top: -50%;
}
.contact .contact-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  box-shadow: inset 0px 0px 122px 32px rgba(0, 0, 0, 1);
  background-image: radial-gradient(#052064 5%, transparent 0);
  background-size: 35px 35px;
  margin-bottom: 10px;
  padding: 140px 10px 80px 10px;
}

.contact .contact-head .circle {
  height: 85px;
  width: 85px;
  background: rgb(4, 255, 242);
  outline: 10px solid rgb(25, 128, 116);
  border-radius: 50%;
  margin-bottom: 20px;
}

.contact .contact-head .head {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact .contact-head .text {
  font-size: 16px;
  color: #656c7c;
}

.contact .mainbox {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.contact .mainbox .subbox-1 {
  width: 65%;

  padding: 10px;
}

.contact .mainbox .subbox-2 {


  padding: 10px;
}

.contact .mainbox .subbox-1 form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact .mainbox .subbox-1 form label {
  color: #656c7c;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.contact .mainbox .subbox-1 form input[type="text"],
.contact .mainbox .subbox-1 form input[type="email"] {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.contact .mainbox .subbox-1 form textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  height: 180px;
  color: white;
  resize: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.contact .mainbox .subbox-1 .form-row {
  display: flex;
  justify-content: space-between;
}
.contact .mainbox .subbox-1 .form-row-child {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.contact .mainbox .subbox-1 .form-group {
  display: flex;
  flex-direction: column;
}
.contact .mainbox .subbox-1 .phone-input {
  display: flex;
  gap: 10px;
}
.contact .mainbox .subbox-1 .phone-input select {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #656c7c;

  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

}

.contact .mainbox .subbox-1 .phone-input select option {
  background: #000;
  color: #656c7c;
}
.contact .mainbox .subbox-1 .phone-input input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.contact .mainbox .subbox-1 .checkbox-group {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.contact .mainbox .subbox-1 .checkbox-label {
  display: flex;
  align-items: center;
  width: 50%; /* Creates two columns */
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.contact .mainbox .subbox-1 .checkbox-label input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  position: relative;
}

.contact .mainbox .subbox-1 .checkbox-label input[type="checkbox"]:checked {
  background-color: #0d6efd; /* Customize the checked color */
  border-color: #0d6efd;
}

.contact
  .mainbox
  .subbox-1
  .checkbox-label
  input[type="checkbox"]:checked::before {
  content: "✔";
  color: #fff;
  position: absolute;
  left: 3px;
  top: 1px;
  font-size: 14px;
  line-height: 1;
}

.contact .mainbox .subbox-1 .submit-button {
  border: none;
  width: 80%;
  font-weight: bold;
  height: 45px;
  background: #11101d;
  color: #e2e8f0;
  font-size: 16px;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .mainbox .subbox-2 .head {
  font-size: 22px;
  margin-bottom: 6px;
  font-weight: bold;
}
.contact .mainbox .subbox-2 .text {
  font-size: 14px;
  color: #656c7c;
}
.contact .mainbox .subbox-2 .social-icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0 50px;
}
.contact .mainbox .subbox-2 .social-icons .child {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact .mainbox .subbox-2 .social-icons .i{
  font-size: 18px;
}
.contact .mainbox .subbox-2 .social-icons a {
  color: #fff;
  font-size: 16px;
  text-underline-offset: 2px;
}
.contact .mainbox .subbox-2 .mob-no {
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0 50px;
}

.contact .mainbox .subbox-2 .address {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0 40px;
}

.contact .mainbox .subbox-2 .address a {
  color: #fff;
  text-underline-offset: 2px;
}

.contact .submitted{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 85%;
  margin: auto;
  border-radius: 12px;
  padding: 120px 0px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.contact .submitted h2{
  font-size: 28px;
  margin-bottom: 8px;
}
.contact .submitted p{
  font-size: 16px;
  margin-bottom: 20px;
  color: #656c7c;
}

.contact .submitted button{
  border: none;
  width: 50%;
  font-weight: bold;
  height: 45px;
  background: #11101d;
  color: #e2e8f0;
  font-size: 16px;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.loder{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  color: #656c7c;
}

.ring {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 4px solid #656c7c ;
  border-color: #656c7c transparent #656c7c  transparent;
  animation: ring 1.2s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/***Stying for small screens***/
@media screen and (max-width: 800px) {

  .contact {
   
    padding: 10px;
  }
  /* .contact .gardient-1 {
    display: block;
    background: linear-gradient(90deg, #f4c4f3, #fc67fa);
    filter: blur(900px);
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 0;
    left: -50%;
    top: -50%;
  } */
  .contact .contact-head {

  
    box-shadow: inset 0px 0px 122px 32px rgba(0, 0, 0, 1);
    background-image: radial-gradient(#052064 5%, transparent 0);
    background-size: 35px 35px;
    margin-bottom: 10px;
    padding: 120px 10px 80px 10px;
  }
  
  /* .contact .contact-head .circle {
    height: 85px;
    width: 85px;
    background: rgb(4, 255, 242);
    outline: 10px solid rgb(25, 128, 116);
    border-radius: 50%;
    margin-bottom: 20px;
  } */
  
  .contact .contact-head .head {
    font-size: 28px;
    margin-bottom: 5px;
  }
  
  .contact .contact-head .text {
    font-size: 14px;
  }
  
  .contact .mainbox {
    width: 100%;
    flex-direction: column;
   
  }
  
  .contact .mainbox .subbox-1 {
    width: 100%;
    margin-bottom: 50px;
  }
  
  .contact .mainbox .subbox-2 {
    width: 100%;
  }
  
  .contact .mainbox .subbox-1 form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .contact .mainbox .subbox-1 form label {
    color: #656c7c;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .contact .mainbox .subbox-1 form input[type="text"],
  .contact .mainbox .subbox-1 form input[type="email"] {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
  
  .contact .mainbox .subbox-1 form textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    height: 180px;
    color: white;
    resize: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
  .contact .mainbox .subbox-1 .form-row {
    display: flex;
    justify-content: space-between;
  }
  .contact .mainbox .subbox-1 .form-row-child {
    width: 48%;
    display: flex;
    flex-direction: column;
  }
  .contact .mainbox .subbox-1 .form-group {
    display: flex;
    flex-direction: column;
  }
  .contact .mainbox .subbox-1 .phone-input {
    display: flex;
    gap: 10px;
  }
  .contact .mainbox .subbox-1 .phone-input select {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #656c7c;
  
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  
  }
  
  .contact .mainbox .subbox-1 .phone-input select option {
    background: #000;
    color: #656c7c;
  }
  .contact .mainbox .subbox-1 .phone-input input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
  
  .contact .mainbox .subbox-1 .checkbox-group {
    width: 100%;
   
  }
  

  
  .contact .mainbox .subbox-1 .checkbox-label input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
  }
  
  .contact .mainbox .subbox-1 .checkbox-label input[type="checkbox"]:checked {
    background-color: #0d6efd; /* Customize the checked color */
    border-color: #0d6efd;
  }
  
  .contact
    .mainbox
    .subbox-1
    .checkbox-label
    input[type="checkbox"]:checked::before {
    content: "✔";
    color: #fff;
    position: absolute;
    left: 3px;
    top: 1px;
    font-size: 14px;
    line-height: 1;
  }
  
  .contact .mainbox .subbox-1 .submit-button {
    width: 100%;
  }
  
  .contact .mainbox .subbox-2 .head {
    font-size: 22px;
    margin-bottom: 6px;
    font-weight: bold;
  }
  .contact .mainbox .subbox-2 .text {
    font-size: 14px;
    color: #656c7c;
  }
  .contact .mainbox .subbox-2 .social-icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 15px 0 50px;
  }
  .contact .mainbox .subbox-2 .social-icons .child {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .contact .mainbox .subbox-2 .social-icons .i{
    font-size: 18px;
  }
  .contact .mainbox .subbox-2 .social-icons a {
 
    font-size: 14px;
   
  }
  .contact .mainbox .subbox-2 .mob-no {
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0 50px;
  }
  
  .contact .mainbox .subbox-2 .address {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0 40px;
  }
  
  .contact .mainbox .subbox-2 .address a {
    color: #fff;
    text-underline-offset: 2px;
  }
  
}